.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 240px;
   background-color: #30213f;
   color: #fff;
   transition: transform 0.3s ease-in-out;
   z-index: 999;
}

.sidebar ul li:hover {
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 5px;
}

.sidebar.open {
   transform: translateX(0);
}

.toggle-sidebar-btn {
   position: fixed;
   top: 15px;
   left: 15px;
   z-index: 1000;
}

@media (max-width: 992px) {
   .sidebar {
      transform: translateX(-100%);
   }

   .sidebar.open {
      transform: translateX(0);
   }

   .toggle-btn {
      background: none;
      border: none;
      color: #fff;
      font-size: 22px;
   }
}