.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 240px;
   background-color: #30213f;
   color: #fff;
   z-index: 1100;
   padding-top: 20px;
   transform: translateX(0);
   transition: transform 0.3s ease-in-out;
}

.sidebar-link {
   color: #fff;
   text-decoration: none;
   display: block;
   padding: 12px 18px;
}

.sidebar-link:hover {
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 5px;
}

@media (max-width: 992px) {
   .sidebar {
      transform: translateX(-100%);
   }

   .sidebar.open {
      transform: translateX(0);
   }
}

/* TOGGLE BUTTON */
.toggle-sidebar-btn {
   position: fixed;
   top: 18px;
   left: 18px;
   z-index: 1200;
}

.toggle-btn {
   background: none;
   border: none;
   color: #fff;
   font-size: 22px;
   position: absolute;
   right: 15px;
   top: 10px;
}

.sidebar-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1000;
}