.hero-section {
   position: relative;
   min-height: 80vh;
   background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("./assets/imgs/banner.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.hero-overlay {
   position: absolute;
   inset: 0;
   background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
}

.hero-content {
   z-index: 2;
   max-width: 700px;
   padding: 2rem;
}