.login-container {
   display: flex;
   min-height: 100vh;
   width: 100%;
   overflow: hidden;
   background: #f4f6f8;
}

.login-left {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem;
}

.login-form {
   width: 100%;
   max-width: 420px;
   background: #ffffff;
   padding: 2rem;
   border-radius: 12px;
   box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);

   opacity: 0;
   transform: translateY(40px);
   transition: opacity 0.6s ease, transform 0.6s ease;
}

.login-form.slide-in {
   opacity: 1;
   transform: translateY(0);
}

.login-form h2 {
   margin-bottom: 1.5rem;
   text-align: center;
   font-size: 1.7rem;
   font-weight: 700;
   color: #003d99;
}

.login-form label {
   margin-top: 1rem;
   font-weight: 600;
}

.login-form input {
   width: 100%;
   padding: 12px;
   margin-top: 6px;
   border-radius: 8px;
   border: 1px solid #ccc;
   font-size: 1rem;
}

.password-wrapper {
   position: relative;
}

.icon-btn {
   position: absolute;
   right: 12px;
   top: 12px;
   background: none;
   border: none;
   cursor: pointer;
   color: #555;
}

.login-button {
   width: 100%;
   padding: 12px;
   background: #0068b5;
   color: #fff;
   font-size: 1.1rem;
   border: none;
   margin-top: 1.4rem;
   border-radius: 8px;
   cursor: pointer;
   transition: 0.3s ease;
}

.login-button:hover {
   background: #004f8c;
}

.login-right {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   padding: 2rem;
}

.login-right-content {
   max-width: 400px;
}

@media (max-width: 768px) {
   .login-container {
      flex-direction: column;
   }

   .login-right {
      display: none;
   }

   .login-form {
      box-shadow: none;
      padding: 1.5rem;
   }
}



.login-divider {
   text-align: center;
   margin: 1.5rem 0;
   position: relative;
}

.login-divider span {
   background: white;
   padding: 0 12px;
   font-size: 0.9rem;
   color: #777;
}

.login-divider::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   height: 1px;
   background: #ccc;
   z-index: -1;
}

.social-login-group {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 1rem;
}

.social-btn {
   width: 100%;
   padding: 10px;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #ddd;
   background: #fff;
   transition: all 0.3s ease;
}

.social-btn:hover {
   background: #f0f0f0;
}

.google-btn {
   border-color: #dadce0;
}

.apple-btn {
   background: #000;
   color: #fff;
   border: none;
}

.apple-btn:hover {
   background: #333;
}

.microsoft-btn {
   border-color: #0078d4;
   color: #0078d4;
}

.microsoft-btn:hover {
   background: #e6f2ff;
}